#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.title{
  color: black
}
.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background: gray;
  border-radius: 15px;
  margin-bottom: 30px;
}
.input{
  margin-bottom : 10px;
  padding : 5px;
}
.button{
  background-color: #fff;
  color : black;
  margin-bottom: 10px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Añade estos estilos para personalizar la apariencia de la sección específica */
.form {
  background: #f0f0f0; /* Cambia el color de fondo */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra */
  padding: 20px;
  margin-bottom: 20px;
}

.title {
  color: black;
}

.input {
  margin-bottom: 15px;
  padding: 10px;
}

.button {
  background-color: #61dafb; /* Cambia el color de fondo del botón */
  color: white; /* Cambia el color del texto del botón */
  margin-bottom: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: #4682b4; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}

/* Estilos para el botón de Cerrar Sesión */
.button.logout {
  background-color: #ff4500;
}

/* Agrega estilos adicionales según sea necesario */

